body {
    font-family: 'Times New Roman', Times, serif;
    background-color:white;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100vh;
}

.container {
    background-color:lightcoral;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
}

.profile-pic {
    background-image:none;

}
.profile-pic img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input{
    width: 100%;
    padding: 8px;
}

